body {
    background-color: #000000;
}

header {
    color: #ffffff;
    font-size: 60px;
    padding: 4%;
    text-align: center;
}

img {
    width: 50px;  
    margin: 0 0%; 
}

button {
    font-size: 16px;
    /* margin: 2% 45%; */
    border-radius: 10px;
    background: #25C5F7;
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 48%;
}

input {
    width: 200px; 
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 45%;
}

#back_button{
    width: 100px; 
    height: 25px;
    font-size: 15px;
    margin: 0 0%; 
    align-items: center;
    justify-content: center;
    margin: 0% 48%;
}